body{
    background-color:#c82333;
}
#one{
    background-color: #ffc107;
    border:0px;
border-radius: 0px;
margin-bottom: 15px;
}
#butto{
    border: 2px solid black;
}
.fa {

    size: 50px;
    color: #c82333;
}


a:hover{
    background-color: #20c997;
}
.navbar-brand{
    padding: 25px;
}
.navbar-brand h1{
    font-weight: bold;
    font-size: 1.7em;
    color: #002752;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}
#logo-img{
    background-image: url("../images/restaurant-logo.png");
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
    float: left;
}
#call-btn{
    text-align: center;
    border: 2px solid white;
    background-color: #20c997;
    font-weight: bold;
    margin: 25px 10px 15px 10px;

}


#specials{
    border-radius: 10px;
    border: 5px solid #f1b0b7;

    background-image: url("../images/special1-tile.jpg");
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

#menu{
    border-radius: 10px;
    border: 5px solid #f1b0b7;
    background-image: url("../images/menu1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}
#map-tile{
    margin-bottom: 15px;
width: 100%;
    height: 250px;
    border-radius: 10px;
    border: 5px solid #f1b0b7;

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}
.panel-footer{
    background-color: #4e555b;
    color: white;
}
#hours ,#testimonials ,#address{
    text-align: center;
}
/* menu.html*/




.category-title{
    border: 3px solid #b9bbbe;
    margin: 10px;
    position: relative;
    overflow: hidden;

}

.category-title span{
    color: #ffc107;

    background-color: #4e555b;
}

/* specials.html*/


.row div{
    border: 1px solid #c82333;
padding-bottom: 3px;
}

.row img{
    border: 2px solid white;
    margin-bottom: 2px;
}
.row p{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #ffc107;
    text-align: center;
}
/* Form */

.container form{
    background-color: #ffc107;
    padding-left: 10vw;
    margin: 10px;
}
.container form input{
    margin-left: 20vw;
}
.container form button{
    margin-left: 20vw;
}
/* for hovering the image */
img:hover{
    background-color: #b3d7ff;
}